<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="payment">


	<!-- 전체목록 -->
	<select id="paymentList" resultType="com.example.project.vo.PaymentVO">
		select * from payment
	</select>

	<!-- insert -->

	<insert id="insertPayment">
		insert into payment(name, phone, card_num, cvc, card_pw)
		values (#{name}, #{phone}, #{card_num}, #{cvc}, #{card_pw} )
	</insert>

	<!-- 조회(상세조회) -->
	<select id="view" resultType="com.example.project.vo.PaymentVO">
		select * from payment where
		bno=#{bno}
	</select>


</mapper>